@model IEnumerable<ECommerceApp.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Ürünlerimiz</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Index" class="btn btn-info">&nbsp; Yeni Ürün Ekle</a>
    </div>
</div>

