@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts
{
    <script src="~/js/a1.js" asp-append-version="true"></script>
    <script src="~/js/a2.js" asp-append-version="true"></script>
    <h1>Ben Header Section</h1>
}

@section MyCustomSection
{
    <script src="~/js/a3.js" asp-append-version="true"></script>
    <h1>Ben Footer Section</h1>
}
