@model string
@{
    ViewData["Title"] = "Servisler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Servisler</h1>

<p>İlk Defa Action ile View Farklı İsimde Görüntülenecektir.</p>

<h1>@Model Basit Data Dönüşü</h1>